.gifs{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    height: 150px;
    justify-content: space-around;
    overflow: scroll;
    overflow-x: hidden;
}
.inputBoxGif{
    /* margin: auto; */
    margin-left: 70px;
    width: 60%;
    border-radius: 50px;
    background-color: #4b4c4d;
    border: #242526;
    padding: 5px 0;
    padding-left: 20px;
    margin-bottom: 5px;
    color: #c1c3c4;
    margin-top: 10px;

}
.inputBoxGif::placeholder{
    font-size: 1.5em;
    color: #b8b6b6;
    font-weight: 400;
}